.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2;
  height: 100vh;
  padding: 30px 80px 40px 80px;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
}

.header__image {
  max-width: 636px;
  position: absolute;
  z-index: -1;
  top: 124px;
  right: 5px;
}

.header__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  padding: 0;
  margin: 0;
  position: relative;
  top: 202px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  padding: 0;
  max-width: 630px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  position: relative;
  top: 232px;
}

.header__paragraph {
  font-weight: 500;
  color: #838383;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40px;
  left: 80px;
}

.header__paragraph-item {
  padding: 0;
  margin: 0;
}

.header__address {
  font-style: normal;
  line-height: 30px;
  position: absolute;
  bottom: 40px;
  right: 80px;
  color: #838383;
}
