.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-right: 5px;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
}

.logo {
  padding-left: 30px;
}

.header__image {
  max-width: 636px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.nav {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  transition: color 0.5s ease-in;
  padding-right: 20px;
}

.nav__link:last-of-type {
  padding-right: 80px;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  padding-left: 80px;
  margin-top: 80px;
  margin-bottom: 28px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  padding-left: 80px;
  max-width: 630px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.header__footer {
  position: absolute;
  bottom: 40px;
  left: 80px;
  right: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__footer_list {
  list-style: none;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.header__address {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  align-self: flex-end;
}
