.menu {
  background-color: #0a2750;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.menu__title {
  max-width: 780px;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  text-align: center;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 100px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 100px;
  row-gap: 100px;
}
