.recipes {
  background-color: #ffffff;
  background-image: url(/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-left: 80px;
  padding-bottom: 215px;
  margin: 0 auto;
}

.recipes__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-bottom: 24px;
  margin: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 0;
  padding-bottom: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.recipes__captions-container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  border: none;
}

.recipes__video-captions {
  display: flex;
  flex-basis: 480px;
  justify-content: space-between;
}

.recipes__video-caption {
  margin: 0;
  padding-top: 24px;
}
